@import url("design.css");
@import url("fileman.css");
@import url("vote.css");

html {
	margin: 0px;
	background-color: #FFFFFF;
}

body {
	margin:0px;
	padding:0px;
 	font-size: 12px;
 	background: #FFFFFF;
}

table, td {
	border-spacing: 0px;
	border-collapse: collapse;
	border: 0px none;
}

a {
	color: black;
	/*font-weight: bold;*/
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

td {
	vertical-align: top;
}

hr {
	border: 1px solid #9EC79C;
}

.big {
	font-size: 15px;
}

.small {
	font-size: 10px;
}

.center {
	text-align: center;
}

.nobr {
	white-space: nowrap;
}

.form_submit {

}

.message_information {
	color: green;
}

.message_warning {
	color: orange;
}

.message_error {
	color: red;
}

.message_attention {
	color: red;
	font-weight: bold;
	font-style: italic;
}

.info {
}

.info .small {
	font-size: 8px;
}

.info .big {
	font-size: 10px;
	font-weight: bold;
}

.field {
	width: 250px;
	font-size: 12px;
}

.area {
	width: 250px;
	height: 100px;
	font-size: 12px;
}

.upload_form {
}


.upload_submit {

}
.disclaimer {
	margin-bottom: 20px;
}

.show {
	margin: auto;
	text-align: center;
	overflow: auto;
}

.show .message {
	text-align: left;
	font-weight: bold;
}

.show table {
	margin: 20px;
	text-align: left;
}

.show table tr td, .show table tr th {
	padding: 5px;
	border: 1px solid black;
}

.comment {
	text-align: left;
	margin-bottom: 20px;
}

.comment .author {
	text-align: right;
	margin-top: 5px;
	font-style: italic;
}

.register_form {
	
}

.browser {
	border-spacing:20px
}

.browser tr td {
	text-align: center;
	vertical-align: top;
}

.browser tr .small {
	font-size: 10px;
	text-align: left;
}

.browser tr td a {
	text-decoration: none;
	font-weight: bold;
}

.browser tr td a img {
	border: none;
}

.hotlink {
	width: 100%;
	margin-bottom: 10px;
}

.hotlink table td {
	width: 90%;
 	padding-right: 5px;
	margin-bottom: 20px;
}

.hotlink table th {
	white-space:nowrap;
}

.hotlink form {
	text-align: left;
	font-size: 10px;
	font-weight: bold;
}

.hotlink input, .hotlink textarea {
	width: 100%;
	border: 1px solid #9EC79C;
	margin-bottom: 5px;
	font-size: 12px;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.menu {
	list-style: none;
	display: none;
	position: absolute;
	z-index: 10;
	text-align: left;
	padding: 5px;
	margin: 0px;
	background-color: #9EC79C;
	border: 1px solid black;
	border-top: 0px none;
}

.menu hr {
	border-color: black;
}

.menu a span img {
	border: 0px none;
	width: 12px;
	height: 12px;
}

.gallery, preview {
	width: 100%;
}

.gallery tr td, .preview tr td {
	padding-bottom: 20px;
	text-align: center;
}

.gallery tr td a, .preview tr td a  {
	text-decoration: none;
}

.gallery a img, .preview a img {
	width: 120px;
	border: 1px solid black;
}

.gallery_hotlink, .gallery_inlet, .preview_hotlink, .preview_inlet {
	display: none;
	position: absolute;
	z-index: 1;
	top: 390px;
	left: 200px;
	width: 500px;
	border: 1px solid #9EC79C;
	background-color: white;
}

.gallery_hotlink div, .gallery_inlet div, .preview_hotlink div, .preview_inlet div {
	text-align: right;
}

.gallery_hotlink div span, .gallery_inlet div span, .preview_hotlink div span, .preview_inlet div span {
	font-weight: bold;
	color: red;
	cursor: pointer;
}


.gallery_hotlink form input, .gallery_inlet form input, .gallery_inlet form textarea, .preview_hotlink form input, .preview_inlet form input, .preview_inlet form textarea {
	width: 490px;
	margin: 5px;
}

.comunity_news {
	list-style: none;
}

.row0 {
	background-color: #9EC79C;
}

.row1 {
	background-color: #E8EEFC;
}

.row2 {
	background-color: #FFFFFF;
}

.recommendation {
	text-align: center;
}

.recommendation a {
	display: block;
	width: 100px;
	padding: 5px;
	margin: 5px;
	border: 1px solid #E8EEFC;
	text-decoration: none;
}

.recommendation a:hover {
	background-color: #9EC79C;
}

.next {
	text-align: center;
	margin: 20px;
	clear: both;
}

.next * {
	margin: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

.next a {
	text-decoration: none;
	border: 1px solid #9EC79C;
	color: #000000;
}

.next a:hover {
	border: 1px solid #E8EEFC;
	background-color: #9EC79C;
}

.box {
	border: 1px solid #9EC79C;
	background-color: #FFFFFF;
	color: #000000;
}
.box .title {
	text-align: center;
	font-weight: bold;
	background-color: #9EC79C;
	color: #FFFFFF;
}

.box .content {
	margin: 5px;
}