@import url(default.css);

.gallery_title {
	color: blue;
}

.gallery_description {
	border-color: blue;
	color: blue;
}

.gallery_image img {
	border-color: blue;
}

.gallery_page, .gallery_page * {
	color: blue;
}